body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
   color: white;
}
header{
    display: flex;
    background-color: #3434350a;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.icono{
   display: flex;
   align-items: center;
}
.icono img{
    height: 50px;
    margin-right: 12px;

}

@media (max-width: 620px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
  
nav a{
    font-weight: 600;
    padding-right: 11px;
    color: black;
}
nav a:hover{
    color: #933ecc;
}

